
assignment-2/.DS_Store
.DS_Store
assignment-2/notebooks/.ipynb_checkpoints
assignment-2/notebooks/final/.ipynb_checkpoints/Ex2.1-1273195-checkpoint.ipynb
assignment-2/notebooks/final/.ipynb_checkpoints/Ex2.2-1273195-checkpoint.ipynb
assignment-2/notebooks/__pycache__/elitism.cpython-37.pyc
assignment-2/notebooks/elitism.py
*.xls
*.xls
assignment-2/excel-files/Ex2.2-1273195.xls
assignment-2/excel-files/Ex2.1-1273195.xls
*.xls
*.xls
assignment-2/notebooks/final/.ipynb_checkpoints/Ex2.3-1273195-checkpoint.ipynb
assignment-2-vrp/notebooks-vrp/.ipynb_checkpoints/Ex2.2-1273195-checkpoint.ipynb
